In [14]:
import pandas as pd
import numpy as np
import datetime

In [6]:
#create a data frame for testing the grouper funcitonality
df=pd.DataFrame({'A':(1,1,1,1,2,2,2,3),
                 'B':(1,2,3,3,4,4,4,5)})

In [9]:
#lets check what the simple group by function returns
gps=df.groupby('A')
gps

In [11]:
#les check if we can unpack the gps variable
for name, gp in gps:
    print(name)

1
2
3

This gives us the names of the distinct groups formed.
Ok so till here we knew how stuffs work.
Now lets try put grouper

In [13]:
#first lets create a date column
df.shape

(8, 2)

In [15]:
datetime.datetime.now()

datetime.datetime(2024, 1, 19, 12, 17, 53, 235644)

In [18]:
df['date']=pd.date_range(start=datetime.datetime.now().strftime('%d-%m-%Y'),freq='D',periods=8)

In [19]:
df

   A  B       date
0  1  1 2024-01-19
1  1  2 2024-01-20
2  1  3 2024-01-21
3  1  3 2024-01-22
4  2  4 2024-01-23
5  2  4 2024-01-24
6  2  4 2024-01-25
7  3  5 2024-01-26

In [29]:
#now lets try groper to get thiese in the weekly group
df_weekly_grouped=df.groupby([pd.Grouper(key='date',freq='w'),pd.Grouper(key='A')]).count()
df_weekly_grouped

              B
date       A
2024-01-21 1  3
2024-01-28 1  1
           2  3
           3  1

In [32]:
#now lets use a function other that count
df_weekly_averaged=df.groupby(pd.Grouper(key='date',freq='w')).agg(avg=('B','mean'),sum=('B','sum'))
df_weekly_averaged

            avg  sum
date
2024-01-21  2.0    6
2024-01-28  4.0   20